h1{
    font-size: 80px;
}

h2{
    font-size: 50px;
}

body{
    font-family: 'Poppins', sans-serif;
    margin-left: 0%;
}

.orange-highlight{
    color: tomato;
}

p{
    color: gray;
    padding: 1% 0%;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    float:left;
}

.half-width img{
    width: 100%;
}

.welcome-part{
    padding-left: 2%;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.clickable-button{
    background-image:linear-gradient(45deg, lightsalmon, tomato);
    padding: 1.5% 5%;
    color: white;
    font-weight: 900;
    text-decoration: none;
    border-radius: 10px; 
    font-size: 16px;
}

section{
    height: 800px;
}

.text-part{
    padding-top: 100px;
    text-align: justify;
    height: 100%;
}

.dream-part{
    padding-right: 2%;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 800px;
}

.experience1, .experience2{
    box-shadow: 10px 10px 100px lightgray;
    border-radius: 10px;
    background-color: white;
    height: 400px;
    object-position: center;
}

.last-part{
    height: 800px;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    float: left;
}

footer{
    text-align: center;
}